{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
    <h3>Hi, {{ user.username }}</h3>
    <h3>First Name = {{ user.first_name }}</h3>
    <h3>Last Name = {{ user.last_name }}</h3>
    <h3>Email = {{ user.email }}</h3>
    <a id='logout' href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
{% else %}
    <h3>Log in to Story10</h3>
    <a id='login' href="{% url 'login' %}" class="btn btn-primary">Login</a>
    <a id='signup' href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
{% endif %}
{% endblock content %}