{% extends "base.html" %}
{% block content %}
<h2>Sign Up Now</h2>
{% if user.is_authencticated %}
    <h3>You are already logged in!</h3>
    <h4>Please log out first</h4>
    <a id="logout" href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
{% else %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" id="submit" type="submit">Sign Up</button>
    </form>
{% endif %}
{% endblock content %}
